# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build
dist
dist-ssr
dev-dist
.swc

# misc
.DS_Store
.env.*

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/locales/**/zod.json

cypress/screenshots
cypress/videos
cypress/downloads

.nyc_output/
debug.log

# Bundle analysis
stats.html
*.tsbuildinfo