name: Node.js CI

on:
  push:
    branches: ["master"]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - run: bun install
      - run: bun run lint
      - run: bun run format:check
      - run: bun run build
      - name: Cypress E2E
        uses: cypress-io/github-action@v6
        env:
          VITE_MODE: e2e
          NODE_ENV: production
        with:
          install: false
          start: |
            bun run e2e:ci:connectionStrings
            bun run e2e:ci:app
          wait-on: "http://localhost:4000, http://localhost:3000"
          wait-on-timeout: 180
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: ignore # 'warn' or 'error' are also available, defaults to `warn`
